<div>
  <p>パスワードをリセット</p>

  {%- form 'recover_customer_password' -%}
    {% assign recover_success = form.posted_successfully? %}
    <div class="field">
      <input
        type="email"
        value=""
        name="email"
        id="RecoverEmail"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          autofocus
        {% endif %}
        placeholder="お客様のメールアドレス"
      >
      <label for="RecoverEmail"> お客様のメールアドレス </label>
    </div>
    {%- if form.errors -%}
      {{ form.errors.messages.form }}
    {%- endif -%}

    <button>
      パスワードをリセットする
    </button>

    <a href="#login">
      キャンセル
    </a>
  {%- endform -%}
</div>

<h1 id="login" tabindex="-1">
  ログイン
</h1>
<div>
  {%- if recover_success == true -%}
    <h3 class="form__message" tabindex="-1" autofocus>
      パスワードは変更されました
    </h3>
  {%- endif -%}
  {%- form 'customer_login', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        エラー
      </h2>
      {{ form.errors | default_errors }}
    {%- endif -%}

    <div class="field">
      <input
        type="email"
        name="customer[email]"
        id="CustomerEmail"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        {% if form.errors contains 'form' %}
          aria-invalid="true"
        {% endif %}
        placeholder="メールアドレス"
      >
      <label for="CustomerEmail">
        メールアドレス
      </label>
    </div>

    {%- if form.password_needed -%}
      <div class="field">
        <input
          type="password"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          autocomplete="current-password"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="パスワード"
        >
        <label for="CustomerPassword">
          パスワード
        </label>
      </div>

      <a href="#recover">
        パスワードを忘れた
      </a>
    {%- endif -%}

    <button>
      ログインする
    </button>

    <a href="{{ routes.account_register_url }}">
      アカウントを作成する
    </a>
  {%- endform -%}
</div>

{%- if shop.checkout.guest_login -%}
  <div>
    <hr>
    <h2>customer.login_page.guest_title</h2>
    {%- form 'guest_login' -%}
      <button>
        customer.login_page.guest_continue
      </button>
    {%- endform -%}
  </div>
{%- endif -%}
