* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  font-size: 16px;
  line-height: 1.8;
}
img,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  display: inline-block;
}
*:first-child {
  margin-top: 0 !important;
}
*:last-child {
  margin-bottom: 0 !important;
}
h1 {
  font-size: 7em;
  font-weight: bold;
  margin: 1em 0;
}
h2 {
  font-size: 6em;
  font-weight: bold;
  margin: 1em 0;
}
h3 {
  font-size: 5em;
  font-weight: bold;
  margin: 1em 0;
}
h4 {
  font-size: 4em;
  font-weight: bold;
  margin: 1em 0;
}
h5 {
  font-size: 3em;
  font-weight: bold;
  margin: 1em 0;
}
h6 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}
p,
ul,
ol,
table {
  margin: 1em;
}
